<h1>For Sale</h1>

<table class='table table-bordered table-striped table-condensed'>
  <tr>
    <th>Item</th>
    <th>Description</th>
    <th>Price</th>
    <th>Size</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stores.each do |store| %>
  <tr>
    <td><%= store.item %></td>
    <td><%= store.description %></td>
    <td><%= store.price %></td>
    <td><%= store.size %></td>
    <td><%= store.quantity %></td>
    <td><%= link_to 'Show', store %></td>
    <td><%= link_to 'Edit', edit_store_path(store) %></td>
    <td><%= link_to 'Destroy', store, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_store_path %>
